@model FIT5032_ozzFIT_V2.Models.Likes

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Likes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsLike)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLike)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LikeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
